.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 400px;
    height: 500px;
    display: flex;
    justify-items: center;
}

.container_chat {
    width: 400px;
    height: 500px;
    background-color: lightgrey;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_messages {
    border: 1px solid grey;
    overflow: auto;
}

.messages_db {
    display: flex;
    flex-direction: column;
    height: 200px;
}

form {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 5px;
}

.input__name {
    width: 80%;
    height: 60%;
    border-radius: 8px;
    background-color: lightgray;
    border: none;
    padding-left: 10px;
}

.textarea {
    width: 80%;
    height: 60%;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    padding: 10px 0 0 10px;
}

.input__button {
    width: 20%;
    height: 60%;
    border-radius: 8px;
    border: none;
    background-color: darkcyan;
    cursor: pointer;
}

ul {
    display: flex;
    padding-left: 0px;
    justify-content: space-evenly;
}

li {
    cursor: pointer;
    list-style: none;
    text-align: center;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: darkcyan;
    cursor: pointer;
}